/* Asegúrate de ajustar los estilos según tus necesidades específicas */
header {
    border-bottom: 1px solid #ddd;
}

.navbar-dark .navbar-nav .nav-link {
    color: orange;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffcc00; /* Un color más claro para el hover */
}

.navbar .form-inline .form-control {
    width: 200px;
}

.img-fluid {
    max-height: 50px;
}

main {
    padding-top: 20px;
}
